In [1]:
# Import the dependencies.
import pandas as pd
import numpy as np
import gmaps
import requests
# Import the API key.
import sys
import os
sys.path.insert(1, os.path.join("..","."))
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Salym,RU,2022-05-07 20:28:06,60.0625,71.4789,32.29,99,100,5.53
1,1,Thompson,CA,2022-05-07 20:28:06,55.7435,-97.8558,69.96,43,75,10.36
2,2,Santa Maria,BR,2022-05-07 20:28:07,-29.6842,-53.8069,67.30,60,0,5.75
3,3,Yellowknife,CA,2022-05-07 20:28:07,62.4560,-114.3525,37.92,93,100,28.77
4,4,Acarau,BR,2022-05-07 20:28:08,-2.8856,-40.1200,80.58,84,80,8.88
...,...,...,...,...,...,...,...,...,...,...
563,563,Wichian Buri,TH,2022-05-07 20:34:18,15.6578,101.1060,79.18,86,100,2.91
564,564,Sur,OM,2022-05-07 20:34:18,22.5667,59.5289,84.34,61,0,12.41
565,565,Alfenas,BR,2022-05-07 20:34:19,-21.4292,-45.9472,66.18,78,21,3.65
566,566,Los Llanos De Aridane,ES,2022-05-07 20:34:19,28.6585,-17.9182,65.95,89,20,12.66
567,567,Thinadhoo,MV,2022-05-07 20:34:20,0.5333,72.9333,84.07,77,58,15.43

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Acarau,BR,2022-05-07 20:28:08,-2.8856,-40.1200,80.58,84,80,8.88
7,7,Jacareacanga,BR,2022-05-07 20:28:08,-6.2222,-57.7528,81.64,83,100,1.59
8,8,Atuona,PF,2022-05-07 20:28:09,-9.8000,-139.0333,78.40,73,19,16.20
11,11,Edd,ER,2022-05-07 20:28:10,13.9297,41.6925,83.50,82,79,10.76
17,17,Hobyo,SO,2022-05-07 20:28:13,5.3505,48.5268,83.10,83,7,20.89
18,18,Russell,US,2022-05-07 20:28:14,32.3502,-85.1999,79.12,43,20,11.50
21,21,Butaritari,KI,2022-05-07 20:28:15,3.0707,172.7902,81.50,79,100,15.73
23,23,Hilo,US,2022-05-07 20:28:16,19.7297,-155.0900,78.53,76,100,6.91
25,25,Matara,LK,2022-05-07 20:25:50,5.9485,80.5353,79.74,92,100,10.00
26,26,Jijiang,CN,2022-05-07 20:28:17,29.2906,106.2542,76.50,77,0,3.74

In [11]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.reset_index(drop = True)
hotel_df.head(20)

             City Country  Max Temp      Lat       Lng Hotel Name
4          Acarau      BR     80.58  -2.8856  -40.1200
7    Jacareacanga      BR     81.64  -6.2222  -57.7528
8          Atuona      PF     78.40  -9.8000 -139.0333
11            Edd      ER     83.50  13.9297   41.6925
17          Hobyo      SO     83.10   5.3505   48.5268
18        Russell      US     79.12  32.3502  -85.1999
21     Butaritari      KI     81.50   3.0707  172.7902
23           Hilo      US     78.53  19.7297 -155.0900
25         Matara      LK     79.74   5.9485   80.5353
26        Jijiang      CN     76.50  29.2906  106.2542
37        Saquena      PE     80.46  -4.6667  -73.5167
38        Fayaoue      NC     76.53 -20.6500  166.5333
42        Mawlaik      MM     76.68  23.6333   94.4167
44           Ibia      BR     83.66 -19.4783  -46.5389
46       Ahuimanu      US     82.11  21.4447 -157.8378
49  Makakilo City      US     80.92  21.3469 -158.0858
52          Yanam      IN     80.19  16.7333   82.2167
53        Rikitea      PF     77.36 -23.1203 -134.9692
63       Havelock      US     78.94  34.8791  -76.9013
68          Kapaa      US     80.58  22.0752 -159.3190

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Acarau,BR,80.58,-2.8856,-40.1200,castelo pizzaria
7,Jacareacanga,BR,81.64,-6.2222,-57.7528,Casa do Ian😎
8,Atuona,PF,78.40,-9.8000,-139.0333,Villa Enata
11,Edd,ER,83.50,13.9297,41.6925,
17,Hobyo,SO,83.10,5.3505,48.5268,Iftin hotel hobyo
18,Russell,US,79.12,32.3502,-85.1999,Macs
21,Butaritari,KI,81.50,3.0707,172.7902,Isles Sunset Lodge
23,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
25,Matara,LK,79.74,5.9485,80.5353,Amaloh Boutique Resort
26,Jijiang,CN,76.50,29.2906,106.2542,Chongqing Jiangjin Hotel
37,Saquena,PE,80.46,-4.6667,-73.5167,
38,Fayaoue,NC,76.53,-20.6500,166.5333,Chez Dydyce Guesthouse
42,Mawlaik,MM,76.68,23.6333,94.4167,AKZ Guest House
44,Ibia,BR,83.66,-19.4783,-46.5389,Hotel Triângulo
46,Ahuimanu,US,82.11,21.4447,-157.8378,Paradise Bay Resort
49,Makakilo City,US,80.92,21.3469,-158.0858,Marriott's Ko Olina Beach Club
52,Yanam,IN,80.19,16.7333,82.2167,The Regency Hotel
53,Rikitea,PF,77.36,-23.1203,-134.9692,People ThankYou
63,Havelock,US,78.94,34.8791,-76.9013,Sherwood Motel
68,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [16]:
# hotel_df = hotel_df.dropna(subset=["Hotel Name"])
# hotel_df.head(30)
hotel_df.replace('',np.nan, inplace=True)
hotel_df.dropna().head(30)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Acarau,BR,80.58,-2.8856,-40.1200,castelo pizzaria
7,Jacareacanga,BR,81.64,-6.2222,-57.7528,Casa do Ian😎
8,Atuona,PF,78.40,-9.8000,-139.0333,Villa Enata
17,Hobyo,SO,83.10,5.3505,48.5268,Iftin hotel hobyo
18,Russell,US,79.12,32.3502,-85.1999,Macs
21,Butaritari,KI,81.50,3.0707,172.7902,Isles Sunset Lodge
23,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
25,Matara,LK,79.74,5.9485,80.5353,Amaloh Boutique Resort
26,Jijiang,CN,76.50,29.2906,106.2542,Chongqing Jiangjin Hotel
38,Fayaoue,NC,76.53,-20.6500,166.5333,Chez Dydyce Guesthouse
42,Mawlaik,MM,76.68,23.6333,94.4167,AKZ Guest House
44,Ibia,BR,83.66,-19.4783,-46.5389,Hotel Triângulo
46,Ahuimanu,US,82.11,21.4447,-157.8378,Paradise Bay Resort
49,Makakilo City,US,80.92,21.3469,-158.0858,Marriott's Ko Olina Beach Club
52,Yanam,IN,80.19,16.7333,82.2167,The Regency Hotel
53,Rikitea,PF,77.36,-23.1203,-134.9692,People ThankYou
63,Havelock,US,78.94,34.8791,-76.9013,Sherwood Motel
68,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
73,Yarada,IN,80.92,17.6500,83.2667,Yarada Jungle Beach Resorts
76,Jalu,LY,78.13,29.0331,21.5482,صاحبة الفخامة
77,Port Blair,IN,82.44,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
78,Sao Jose Da Coroa Grande,BR,78.19,-8.8978,-35.1478,Crôa Mares Hotel
88,Rogers,US,81.70,36.3668,-95.5836,Claremore Motor Inn
90,Tabou,CI,81.75,4.4230,-7.3528,hotêl doufoulougou
92,Xuddur,SO,78.78,4.1213,43.8894,Banjanay Hotel
93,Isla Mujeres,MX,87.85,21.2311,-86.7310,Hotel La Joya Isla Mujeres
94,Kieta,PG,78.78,-6.2167,155.6333,Uruna Bay Retreat
95,The Valley,AI,82.54,18.2170,-63.0578,CeBlue Villas & Beach Resort
97,Sao Geraldo Do Araguaia,BR,81.19,-6.4006,-48.5550,Hotel Por do Sol
98,Bengkulu,ID,76.73,-3.8004,102.2655,Grage Hotel Bengkulu

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))